.contenedor-carrera {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    background-color: #111;
    border-radius: 20px;
    box-shadow: 0 0 15px gold;
    margin: 20px auto;
    width: 95%;
    box-sizing: border-box;
}

.contenedor-carrera h1 {
    font-size: 30px;
    color: gold;
    text-align: center;
}


.caballo.seleccionado {
    border: 3px solid gold;
    border-radius: 10px;
    box-shadow: 0 0 15px gold;
}

.apuesta button.seleccionado {
    border: 3px solid gold;
    background-color: #ffee58;
}


.apuesta {
    background-color: #222;
    display: flex;
    align-items: center;
    color: white;
    box-shadow: 0 0 4px gold;
    padding: 20px;
    gap: 5px;
    border-radius: 5px;
}

.apuesta label {
    text-align: center;
    color: gold;
    margin-bottom: 10px;
    border-bottom: 1px solid gold;
}

.apuesta input,
button {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    box-sizing: border-box;
}

button {
    background-color: white;
    color: black;
    cursor: pointer;
    border: none;
    border-radius: 10px;
}

button:hover {
    background-color: gold;
    color: black;
}

.mensaje {
    font-size: 20px;
    color: gold;
    text-align: center;
}

.carreraCanvas {
    width: 100%;
    max-width: 900px;
    height: 400px;
    border: 3px solid #654321;
    border-radius: 10px;
    box-shadow: 0 0 5px gold;
    background-color: #4caf50;
}



@keyframes pistaMovimiento {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 40px 0;
    }
}

@media (max-width: 768px) {
    .contenedor-carrera {
        padding: 15px;
        gap: 15px;
    }

    .apuesta {
        flex-direction: column;
        align-items: stretch;
        gap: 10px;
        padding: 15px;
        width: 90%;
        text-align: center;
    }

    .apuesta input,
    .apuesta button {
        width: 100%;
    }

    .carreraCanvas {
        width: 100%;
        height: auto;
    }
}

@media (max-width: 480px) {
    .apuesta button {
        width: 100%;
        margin-bottom: 10px;
    }
}