.contenedor-carrera {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    background-color: #111;
    border-radius: 20px;
    box-shadow: 0 0 15px gold;
    margin: 20px auto;
    width: 95%;
    box-sizing: border-box;
}

.contenedor-carrera h1 {
    font-size: 30px;
    color: gold;
    text-align: center;
}

.apuesta {
    background-color: #222;
    display: flex;
    align-items: center;
    color: white;
    box-shadow: 0 0 4px gold;
    padding: 20px;
    gap: 10px;
    border-radius: 5px;
}

.apuesta label {
    color: gold;
    border-bottom: 1px solid gold;
    padding-bottom: 3px;
}

.apuesta input {
    padding: 10px;
    border-radius: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

button {
    padding: 10px;
    margin-bottom: 10px;
    background-color: white;
    color: black;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    transition: 0.2s;
}

button:hover {
    background-color: gold;
    color: black;
}

button.seleccionado {
    border: 3px solid gold;
    background-color: #ffee58;
}

.mensaje {
    font-size: 20px;
    color: gold;
    text-align: center;
}

.carreraCanvas {
    width: 100%;
    max-width: 900px;
    height: 400px;
    border: 3px solid #654321;
    border-radius: 10px;
    box-shadow: 0 0 5px gold;
    background-color: #4caf50;
}

.zona-carrera {
    display: flex;
    align-items: center;
    gap: 20px;
}

.numeros-caballos {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 400px;
    gap: 10px;
}

.numero-caballo {
    width: 50px;
    height: 50px;
    background: #222;
    color: white;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #555;
    border-radius: 10px;
    cursor: pointer;
    user-select: none;
    transition: 0.2s;
}

.numero-caballo:hover {
    background: gold;
    color: black;
}

.numero-caballo.seleccionado {
    background: gold;
    color: black;
    border: 3px solid gold;
    box-shadow: 0 0 10px gold;
}


@media (max-width: 768px) {
    .apuesta {
        flex-direction: column;
        width: 90%;
        text-align: center;
    }

    .apuesta input,
    .apuesta button {
        width: 100%;
    }

    .zona-carrera {
        flex-direction: column;
        gap: 10px;
    }

    .numeros-caballos {
        flex-direction: row;
        height: auto;
        gap: 20px;
    }
}

@media (max-width: 480px) {
    .apuesta button {
        width: 100%;
    }
}