.Most-played {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin: 20px auto;
}

.Most-played a {
    background-color: #222;
    border-radius: 20px;
    padding: 15px;
    transition: 0.2s;
}

.Most-played a:hover {
    transform: scale(1.05);
    background-color: #333;
}

.Most-played a img {
    width: 80px;
    height: auto;
}