.contenedor-traga {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    flex-wrap: wrap;
    padding: 20px;
    background-color: #111;
    border-radius: 20px;
    box-shadow: 0 0 15px gold;
    margin: 20px;
}


.tragaperras {
    background-color: #222;
    border-radius: 15px;
    padding: 10px;
    text-align: center;
    color: white;
}

.tragaperras h1 {
    color: gold;
    margin-bottom: 15px;
}

.slot {
    background-color: #999;
    border: 2px solid #666;
    border-radius: 10px;
}

.tragaperras button {
    background-color: gold;
    color: black;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    margin-top: 15px;
    cursor: pointer;
    transition: 0.2s;
}

.tragaperras button:hover {
    background-color: #ffcc00;
}

#msg {
    color: white;
    font-size: 18px;
    text-align: center;
}

.premios {
    background-color: #222;
    border-radius: 15px;
    padding: 18px;
    color: white;
}

.premios h2 {
    text-align: center;
    color: gold;
    margin-bottom: 10px;
}

.premios ul {
    list-style: none;
    padding: 0;
}

.premios li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    background-color: #333;
    border-radius: 8px;
    padding: 8px 10px;
}

.premios span {
    color: gold;
    font-weight: bold;
}

.PremioMensaje {
    color: gold;
    display: flex;
    flex-direction: column;
}

@media (max-width: 767px) {
    .premios {
        width: 90%;
    }

    .tragaperras .slot {
        width: 90%;
    }
}