.audio {
    position: fixed;
    bottom: 20px;
    left: 20px;
    padding: 15px;
    border-radius: 50%;
    border: none;
    background: gold;
    cursor: pointer;
    box-shadow: 0 0 15px gold;
    font-size: 20px;
    z-index: 999;
}